<footer class="ks-footer">
  <div class="ks-footer__wrapper">
    <div class="ks-footer__cols">
      <div class="ks-footer__col">
        <h5 class="ks-footer__title">Мобiльний зв’язок</h5>
        <ul class="ks-footer__nav">
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/mm/tariffs">Тарифи</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/mm/tariffs/arhive">Архів тарифів</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/mm/services">Послуги</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/mm/international">Дзвінки за кордон</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/mm/service/centers/list">Обслуговування та магазини</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/sme">Малому та середньому бізнесу</a>
          </li>
          <li class="ks-footer__link">
            <a href="http://business.kyivstar.ua/businesslarge/">Корпоративним клієнтам</a>
          </li>
        </ul>
      </div>
      <div class="ks-footer__col">
        <h5 class="ks-footer__title">Домашній Київстар</h5>
        <ul class="ks-footer__nav">
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/home-kyivstar/">Інтернет + ТБ</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/home-kyivstar/internet/">Домашній інтернет</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/home-kyivstar/internet/tariffs/full-archive">Архів тарифів</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/home-kyivstar/service">Послуги</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://pay.kyivstar.ua/">Поповнення рахунку</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/home-kyivstar/serv_settings/settings_form">Налаштування Інтернет</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/home-kyivstar/service/bonuses">Бонуси</a>
          </li>
        </ul>
      </div>
      <div class="ks-footer__col">
        <h5 class="ks-footer__title">Сервіси та розваги</h5>
        <ul class="ks-footer__nav">
          <li class="ks-footer__link">
            <a href="https://new.kyivstar.ua/?utm_source=ks&amp;utm_medium=web&amp;utm_campaign=footer">Мій Київстар</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://money.kyivstar.ua/?utm_source=ks&amp;utm_medium=web&amp;utm_campaign=footer">Мобільні гроші</a>
          </li>
          <li class="ks-footer__link">
            <a href="http://465.ua/?utm_source=ks&amp;utm_medium=web&amp;utm_campaign=footer">Ді-Джингл</a>
          </li>
          <li class="ks-footer__link">
            <a href="http://musiclub.com.ua/?utm_source=ks&amp;utm_medium=web&amp;utm_campaign=footer">Music Club</a>
          </li>
          <li class="ks-footer__link">
            <a href="http://appclub.com.ua/?utm_source=ks&amp;ak=none">App Club</a>
          </li>
          <li class="ks-footer__link">
            <a href="http://smart.kyivstar.ua/?utm_source=ks&amp;utm_medium=web&amp;utm_campaign=footer">Smart Kyivstar</a>
          </li>
          <li class="ks-footer__link">
            <a href="http://hotels.kyivstar.ua/?utm_source=ks&amp;utm_medium=web&amp;utm_campaign=footer">Забронювати готель</a>
          </li>
        </ul>
      </div>
      <div class="ks-footer__col">
        <h5 class="ks-footer__title">Київстар</h5>
        <ul class="ks-footer__nav">
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/about/about/mission">Місія та цінності</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/mm/news-and-promotions">Центр новин</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/about/responsibility">Соціальна відповідальність</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/about/about/partners">Інвесторам</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/about/important_data">Важливо знати</a>
          </li>
          <li class="ks-footer__link">
            <a href="https://kyivstar.ua/uk/about/important_data/stop_cheating">Лінія протидії шахрайству</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="ks-footer__bottom">
      <div class="ks-footer__legal">
        © 1998–2018 ПрАТ «Київстар». Всі права захищено. Використання матеріалів цього сайту можливе тільки з посиланням на джерело.
      </div>
      <div class="ks-footer__phones-container">
        <h3 class="ks-footer__phones-title">Абонентна служба <span>(безкоштовно)</span></h3>
        <div class="ks-footer__phones-table">
          <a href="tel:466" class="phone short">466</a>
          <a href="tel:0 800 300 466" class="phone long">0 800 300 466</a>
        </div>
      </div>
      <div class="ks-footer__socials">
        <a href="https://www.facebook.com/kyivstar" class="ks-footer__social-link fb"></a>
        <a href="https://www.instagram.com/kyivstar.official" class="ks-footer__social-link ig">
          <svg width="20px" height="20px" viewBox="0 0 35 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-763.000000, -257.000000)">
              <g transform="translate(735.000000, 238.000000)">
                <g transform="translate(28.000000, 19.000000)">
                  <rect x="0" y="0" width="35" height="35"></rect>
                  <path d="M28.9414453,8.15855469 C28.9414453,9.31847656 28.0010938,10.2585547 26.8414453,10.2585547 C25.6817969,10.2585547 24.7414453,9.31847656 24.7414453,8.15855469 C24.7414453,6.99863281 25.6817969,6.05855469 26.8414453,6.05855469 C28.0013672,6.05855469 28.9414453,6.99863281 28.9414453,8.15855469 Z M17.5,23.3332422 C14.2783594,23.3332422 11.6667578,20.7216406 11.6667578,17.5 C11.6667578,14.2783594 14.2783594,11.6667578 17.5,11.6667578 C20.7216406,11.6667578 23.3332422,14.2783594 23.3332422,17.5 C23.3332422,20.7216406 20.7216406,23.3332422 17.5,23.3332422 Z M17.5,8.51347656 C12.5368359,8.51347656 8.51347656,12.5368359 8.51347656,17.5 C8.51347656,22.4631641 12.5368359,26.4865234 17.5,26.4865234 C22.4631641,26.4865234 26.4865234,22.4631641 26.4865234,17.5 C26.4865234,12.5368359 22.4631641,8.51347656 17.5,8.51347656 Z M17.5,3.15328125 C22.1727734,3.15328125 22.7262109,3.17105469 24.5713672,3.25527344 C26.2776172,3.33320312 27.2042969,3.618125 27.8208984,3.85792969 C28.6376562,4.17539062 29.220625,4.55464844 29.833125,5.16714844 C30.445625,5.779375 30.8248828,6.36234375 31.1423437,7.179375 C31.381875,7.79597656 31.6670703,8.72265625 31.745,10.4289063 C31.8292187,12.2743359 31.8469922,12.8277734 31.8469922,17.5005469 C31.8469922,22.1733203 31.8292187,22.7267578 31.745,24.5719141 C31.6670703,26.2781641 31.3821484,27.2048438 31.1423437,27.8214453 C30.8248828,28.6382031 30.445625,29.2211719 29.833125,29.8336719 C29.2208984,30.4461719 28.6379297,30.8254297 27.8208984,31.1428906 C27.2042969,31.3824219 26.2776172,31.6676172 24.5713672,31.7455469 C22.7262109,31.8297656 22.1727734,31.8475391 17.5,31.8475391 C12.8269531,31.8475391 12.2735156,31.8297656 10.4283594,31.7455469 C8.72210937,31.6676172 7.79542969,31.3826953 7.17882812,31.1428906 C6.36207031,30.8254297 5.77910156,30.4461719 5.16660156,29.8336719 C4.554375,29.2214453 4.17484375,28.6384766 3.85738281,27.8214453 C3.61785156,27.2048438 3.33265625,26.2781641 3.25472656,24.5719141 C3.17050781,22.7264844 3.15273437,22.1730469 3.15273437,17.5005469 C3.15273437,12.8277734 3.17050781,12.2743359 3.25472656,10.4289063 C3.33265625,8.72265625 3.61757812,7.79597656 3.85738281,7.179375 C4.17484375,6.36261719 4.55410156,5.77964844 5.16660156,5.16714844 C5.77882812,4.55464844 6.36179687,4.17539062 7.17882812,3.85792969 C7.79542969,3.61839844 8.72210937,3.33320312 10.4283594,3.25527344 C12.2737891,3.17105469 12.8272266,3.15328125 17.5,3.15328125 Z M17.5,0 C12.7473828,0 12.1512891,0.020234375 10.2848047,0.105273437 C8.42214844,0.1903125 7.14984375,0.486171875 6.03695313,0.91875 C4.88605469,1.36582031 3.91015625,1.964375 2.93726562,2.93726562 C1.964375,3.91015625 1.36582031,4.88605469 0.91875,6.03695313 C0.486171875,7.15011719 0.1903125,8.42214844 0.105273437,10.2848047 C0.020234375,12.1512891 0,12.7473828 0,17.5 C0,22.2526172 0.020234375,22.8487109 0.105273437,24.7151953 C0.1903125,26.5778516 0.486171875,27.8498828 0.91875,28.9630469 C1.36582031,30.1139453 1.964375,31.0898438 2.93726563,32.0627344 C3.91015625,33.035625 4.88605469,33.6339062 6.03695313,34.08125 C7.15011719,34.5138281 8.42214844,34.8096875 10.2848047,34.8947266 C12.1512891,34.9797656 12.7473828,35 17.5,35 C22.2526172,35 22.8487109,34.9797656 24.7151953,34.8947266 C26.5778516,34.8096875 27.8498828,34.5138281 28.9630469,34.08125 C30.1139453,33.6339063 31.0898438,33.035625 32.0627344,32.0627344 C33.035625,31.0898437 33.6339062,30.1139453 34.08125,28.9630469 C34.5138281,27.8498828 34.8096875,26.5778516 34.8947266,24.7151953 C34.9797656,22.8487109 35,22.2526172 35,17.5 C35,12.7473828 34.9797656,12.1512891 34.8947266,10.2848047 C34.8096875,8.42214844 34.5138281,7.15011719 34.08125,6.03695313 C33.6339063,4.88605469 33.035625,3.91015625 32.0627344,2.93726562 C31.0898437,1.964375 30.1139453,1.36609375 28.9630469,0.91875 C27.8498828,0.486171875 26.5778516,0.1903125 24.7151953,0.105273437 C22.8487109,0.020234375 22.2526172,0 17.5,0 Z" id="Instagram" fill="currentColor"></path>
                </g>
              </g>
            </g>
          </svg>
        </a>
        <a href="https://twitter.com/TwiyKyivstar" class="ks-footer__social-link tw"></a>
        <a href="https://www.youtube.com/channel/UCYkyLT5wOXRH-RnGcs5UoJQ" class="ks-footer__social-link yt"></a>
        <a href="https://chats.viber.com/kyivstar" class="ks-footer__social-link vi"></a>
      </div>
      <div class="mobile-app">
        <span class="title">Мій Київстар</span>
        <ul>
          <li><a href="https://itunes.apple.com/ua/app/my-kyivstar/id771788824?mt=8"><i class="icon-apple"></i></a></li>
          <li><a href="https://play.google.com/store/apps/details?id=com.kyivstar.mykyivstar&amp;hl=ru"><i class="icon-android"></i></a></li>
          <li><a href="https://www.microsoft.com/uk-ua/store/apps/my-kyivstar/9nblggh16mr5"><i class="icon-windows"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
