<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KR8LSH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<script src="https://cdn.kyivstar.ua/sites/default/files/community/scripts/header.js" defer></script>
<!-- <script src="scripts/header.js" defer></script> -->

<link rel="stylesheet" href="https://cdn.kyivstar.ua/sites/default/files/community/css/style.min.css">
<!-- <link rel="stylesheet" href="css/style.min.css"> -->
<header class="ks-header">
  <div id="mobile-menu-wrapper">
    <div id="mobile-menu" class="active">
      <nav class="navbar">
        <ul class="tabset">
          <li><a class="tabset__item" href="#mobile-menu-tab-1" class="active"><i class="icon-i-3"></i></a></li>
          <li><a class="tabset__item" href="#mobile-menu-tab-2"><i class="icon-home-internet"></i></a></li>
          <li><a href="https://shop.kyivstar.ua/ua"><i class="icon-ks-shop"></i></a></li>
          <li><a class="tabset__item" href="#mobile-menu-tab-3"><i class="icon-case"></i></a></li>
          <li><a class="tabset__item" href="#mobile-menu-tab-4"><i class="icon-info"></i></a></li>
        </ul>
      </nav>
      <div class="tabs-holder">
        <div id="mobile-menu-tab-1" class="tab tab-active">
          <strong class="title">Мобільний зв'язок</strong>
          <ul class="categories">
            <li class="menu-3491 first"><a href="https://kyivstar.ua/uk/mm/tariffs">Тарифи</a></li>
            <li class="menu-3499"><a href="https://kyivstar.ua/uk/mm/services">Послуги</a></li>
            <li class="menu-3568"><a href="https://kyivstar.ua/uk/mm/mobile-internet">Мобільний інтернет</a></li>
            <li class="menu-3494"><a href="https://kyivstar.ua/uk/mm/international">Дзвінки за кордон</a></li>
            <li class="menu-3495"><a href="https://kyivstar.ua/uk/mm/roaming">Роумінг</a></li>
            <li class="menu-3496"><a href="https://kyivstar.ua/uk/mm/entertainment">Додатки</a></li>
            <li class="menu-4618"><a href="https://kyivstar.ua/uk/mm/service/centers/list">Магазини Київстар</a></li>
            <li class="menu-3498"><a href="https://pay.kyivstar.ua/">Поповнення рахунку</a></li>
            <li class="menu-4225 last"><a href="https://kyivstar.ua/uk/mm/tariffs/arhive">Архiв тарифiв</a></li>
          </ul>
        </div>
        <div id="mobile-menu-tab-2" class="tab">
          <strong class="title">Домашній інтернет</strong>
          <ul class="categories">
            <li class="menu-3437 first"><a href="https://kyivstar.ua/uk/fmc">Все разом</a></li>
            <li class="menu-2084"><a href="https://kyivstar.ua/uk/home-kyivstar/" class="regioned">Інтернет + ТБ</a></li>
            <li class="menu-2085"><a href="https://kyivstar.ua/uk/home-kyivstar/tv-program">ТБ-програма</a></li>
            <li class="menu-2086"><a href="https://kyivstar.ua/uk/home-kyivstar/internet" class="regioned">Інтернет</a></li>
            <li class="menu-2088"><a href="https://pay.kyivstar.ua/fttb/">Оплата</a></li>
            <li class="menu-2089"><a href="https://kyivstar.ua/uk/home-kyivstar/service">Послуги</a></li>
            <li class="menu-2087"><a href="https://kyivstar.ua/uk/home-kyivstar/devices">Пристрої</a></li>
            <li class="menu-2091"><a href="https://kyivstar.ua/uk/home-kyivstar/settings/">Налаштування ТБ</a></li>
            <li class="menu-2123"><a href="https://kyivstar.ua/uk/home-kyivstar/serv_settings/settings_form">Налаштування Інтернет</a></li>
            <li class="menu-2158 last"><a href="https://kyivstar.ua/uk/home-kyivstar/internet/tariffs/full-archive" class="regioned">Архів тарифів</a></li>
          </ul>
        </div>
        <div id="mobile-menu-tab-3" class="tab">
          <strong class="title">Бізнесу</strong>
          <ul class="categories">
            <li class="more"><a href="https://kyivstar.ua/uk/sme">Малий та середній бізнес</a></li>
            <li class="more"><a href="http://business.kyivstar.ua/businesslarge">Великий бізнес</a></li>
          </ul>
        </div>
        <div id="mobile-menu-tab-4" class="tab">
          <strong class="title">Київстар</strong>
          <ul class="categories">
            <li class="more"><a href="https://kyivstar.ua/uk/about/about/kyivstar_today">Про компанію</a></li>
            <li class="more"><a href="https://kyivstar.ua/uk/mm/news-and-promotions">Центр новин</a></li>
            <li class="more"><a href="https://kyivstar.ua/uk/support">Підтримка</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="white-nav">
    <div class="white-nav__left-nav">
      <div class="white-nav__inner">
        <ul class="nav">
          <li class="nav__item">
            <a href="https://kyivstar.ua/uk/mm" class="nav__link">Мобільний зв'язок</a>
          </li>
          <li class="nav__item">
            <a href="https://kyivstar.ua/uk/fmc" class="nav__link">Домашній Київстар</a>
          </li>
          <li class="nav__item">
            <a href="https://shop.kyivstar.ua/ua/" class="nav__link">Інтернет-магазин</a>
          </li>
          <li class="nav__item">
            <a href="https://community.kyivstar.ua/" class="nav__link nav__link--active">Спільнота</a>
          </li>
        </ul>
      </div>
      <div class="white-nav__end"></div>
    </div>
    <div class="white-nav__right-nav">
      <ul class="nav drop">
        <li class="nav__item">
          <a href="https://kyivstar.ua/uk/sme" class="nav__link drop__title">Бізнесу</a>
          <ul class="nav drop__container">
            <li class="nav__item">
              <a href="https://kyivstar.ua/uk/sme" class="nav__link drop__link">Малий та середній бізнес</a>
            </li>
            <li class="nav__item">
              <a href="http://business.kyivstar.ua/kr-620/businesslarge/" class="nav__link drop__link">Великий бізнес</a>
            </li>
            <li class="nav__item">
              <a href="https://kyivstar.ua/uk/sme/partners" class="nav__link drop__link">Партнерам</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav drop">
        <li class="nav__item">
          <a href="https://kyivstar.ua/uk/about/about/kyivstar_today" class="nav__link drop__title">Київстар</a>
          <ul class="nav drop__container">
            <li class="nav__item">
              <a href="https://kyivstar.ua/uk/about/about/kyivstar_today" class="nav__link drop__link">Про Компанію</a>
            </li>
            <li class="nav__item">
              <a href="https://kyivstar.ua/uk/mm/news-and-promotions" class="nav__link drop__link">Центр новин</a>
            </li>
            <li class="nav__item">
              <a href="https://kyivstar.ua/uk/support" class="nav__link drop__link">Підтримка</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav__item">
          <a href="https://account.kyivstar.ua/" class="nav__link nav__link--yellow">Мій Київстар</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-bar">
    <button type="button" class="mobile-menu-btn">
      Меню
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 28 28">
        <line x1="3" y1="3" x2="25" y2="3" stroke-width="4" stroke="#fff" stroke-linecap="round"></line>
        <line x1="3" y1="14" x2="25" y2="14" stroke-width="4" stroke="#fff" stroke-linecap="round"></line>
        <line x1="3" y1="25" x2="25" y2="25" stroke-width="4" stroke="#fff" stroke-linecap="round"></line>
      </svg>
    </button>

    <div class="logo-container logo-support">
      <strong class="logo">
        <a href="https://community.kyivstar.ua" class="active">
          <div class="category">
            <span class="label">Спільнота</span>
          </div>
        </a>
      </strong>
    </div>
    <nav class="main-nav">
      <ul class="flex-menu">
        <li>
          <a href="https://kyivstar.ua/uk/support">Підтримка</a>
        </li>
        <li>
          <a href="https://kyivstar.ua/uk/support/stores">Магазини</a>
        </li>
        <li>
          <a href="https://kyivstar.ua/uk/support/references">Довідники</a>
        </li>
        <li>
          <a href="https://kyivstar.ua/uk/support/feedback">Відгуки</a>
        </li>
      </ul>
    </nav>

    <div class="zoryana-btn-wrapper">
      <a href="https://kyivstar.ua/uk/zoriana" title="Посилання на сторінку Зоряни" class="zoryana-btn">
        <figure class="zoryana-btn__portrait" aria-hidden="true"></figure>
        <span class="zoryana-btn__talk">
          Поспілкуємось?
        </span>
        <span class="zoryana-btn__helper">
          Віртуальна помічниця
        </span>
      </a>
    </div>
  </div>
</header>
